@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #fff;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

/*---- Navbar ----*/
nav{
    /*background: #282828;*/
    background: #e9e9e9;
}

nav:after{
    content: "";
    clear: both;
    display: table;
}

nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

nav ul li{
    float: left;
    display: inline-block;
    /*background: #282828;*/
    background: #e9e9e9;
    margin: 0 5px;
}

nav ul li a{
    color: #292929;
    text-decoration: none;
    line-height: 70px;
    font-size: 16px;
    padding: 8px 7px;
    transition: .3s;
}

ion-icon{
    font-size: 22px;
}

nav ul ul{
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top .2s;
    z-index: 1000;
}

nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li{
    position: relative;
    float: none;
    margin: 0px;
    width: 250px;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul ul li:hover{
    background: #717171;
}

nav ul ul li:hover > a{
    color: #fff;
    background: none;
}

nav ul ul li a{
    line-height: 50px;
}

nav ul ul li a:hover{
    box-shadow: none;
}

/*nav .logo{
    float: left;
    line-height: 70px;
    font-size: 27px;
    color: #292929;
    padding-left: 60px;
    font-weight: 600;
}*/

nav .logo{
    float: left;
    line-height: 70px;
    padding-left: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
}

nav .logo img{
    width: 70px;
    height: 70px;
}

nav ul li a:hover{
    border-radius: 10px;
    color: #eaeaea;
    /*box-shadow: 0 0 5px #292929,
                0 0 5px #292929;*/
    background: #717171;
}

.show, .icon, input{
    display: none;
}

.languages, .login{
    float: left;
    
}

.languages a{
    font-size: 22px;
    float: left;
}

.login a{
    font-size: 22px;
    float: left;
}






/*---- Carousel ----*/
.mySlides{
    display: none;
}

img{
    vertical-align: middle;
    height: auto;
    max-width: auto;
}

.slideshow-container{
    max-width: 80%;
    position: relative;
    margin: auto;
    top: 10px;
}

.slideshow-container img{
    width: 100%;
    height: 600px;
}

.prev, .next{
    cursor: pointer;
    z-index: 1001;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 8px;
    font-size: 30px;
}

.numbertext{
    color: #f2f2f2;
    font-size: 19px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/*.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    display: none;
    transition: background-color 0.6s ease;
}*/

/*.active, .dot:hover{
    background-color: #717171;
}*/

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from{opacity: .4}
    to{opacity: 1}
}

@keyframes fade{
    from{opacity: .4}
    to{opacity: 1}
}







#slider{
    overflow: hidden;
}

#slider figure {
    position: relative;
    width: 100%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img{
    width: 20%;
    float: left;
}





/*----- Footer -----*/
.container{
    margin: auto;
    background: #24262b;
    padding: 70px 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #fff;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #ffc500;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul{
    list-style: none;
}

.footer-col ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 10px;
    transition: all .3s ease;
}

.footer-col ul li a:hover{
    color: #fff;
    padding-left: 6px;
}

.footer-col .social-link a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: rgba(255, 255, 255, .2);
    margin: 0 10px 0 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all .5s ease;
}

.footer-col .social-link a:hover{
    color: #24262b;
    background: #ffffff;
}

#newsletter, #btn-newsletter{
    display: block;
}




/*---- Corpo (NON FOOTER) ----*/
.footer{
    margin-top: 20px;
    width: 100%;
}

.header__center {
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.2rem;
    align-items: center;
}

.header__center::before,
.header__center::after {
    content: "";
    display: block;
    height: 2px;
    background-color: currentColor;
}

.grid{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 30px;
    width: 100%;
    place-items: center;
}

.grid-item{
    width: 100%;
    text-align: center;
}

.grid img{
    width: auto;
    max-height: 114px;
}

.grid-item .logotext{
    font-size: 20px;
    text-align: center;
}

.space-footer{
    height: 90px;
}

.grid-pl{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 30px;
    width: 100%;
    place-items: center;
}

.grid-pl .logocomune img{
    width: auto;
    max-height: 150px;
    margin-bottom: 10px;
}

















/*---- Responsive ----*/
@media all and (max-width: 1160px) {
    nav ul{
        margin-right: 0px;
        float: left;
    }

    nav .logo{
        padding-left: 30px;
        width: 100%;
    }

    nav ul li, nav ul ul li{
        display: block;
        width: 100%;
    }

    nav ul ul{
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    /*nav ul ul ul li{
        position: static;
    }

    nav ul ul ul a{
        padding-left: 80px;
    }*/

    .show{
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }

    .show:hover{
        color: cyan;
    }

    .icon{
        display: block;
        color: #24262b;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }

    nav ul li a:hover{
        box-shadow: none;
    }

    .show + a, ul{
        display: none;
    }

    [id^=btn]:checked + ul{
        display: block;
    }

    .footer-col ul{
        display: block;
    }
}

@media only screen and (max-width:300px){
    .prev, .next, .text{
        font-size: 11px;
    }

    .dot{
        height: 10px;
        width: 10px;
    }
}

@media only screen and (max-width:500px){
    .prev, .next, .text{
        font-size: 14px;
    }
}

@media (max-width:767px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
        display: block;
    }
}

@media (max-width:567px) {
    .footer-col{
        width: 100%;
    }
}



/*----- Hero div -----*/
.hero-content{
    position: absolute;
    width: 100%;
    right: 0;
    z-index: 999;
    text-align: center;
    margin-top: 200px;
}

.hero-content p{
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    font-family: 'Dancing Script', cursive;
}

.hero-content a{
    border: 2px solid #292929;
    padding: 5px 20px;
    color: #000;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.space{
    height: 15px;
}

.hero-content a:hover{
    background: #292929;
    color: #fff;
}



