.map-container
{
  height: 70vh;
  margin: 20px
}

#section-img
{
  width: 70vw;
  height: auto;
}

.layer input
{
  display: block !important;
}

.panel
{
  font-family: Calibri, serif;
}

.map-legend
{
  top: 65px;
  left: .5em;
  width: fit-content;
  height: auto;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  position: absolute;
  font-family: Calibri, serif;
}

.map-legend:after, .map-legend:before
{
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
  position: absolute;
}

.map-legend-container
{
  padding-top: 10px;
  padding-left: 10px;
}

.map-legend-main-entry
{
  list-style-type: none;
  list-style-position: inside;
}

.map-legend-sub-entry
{
  padding-left: 15px;
  list-style-type: none;
  list-style-position: outside;
}

.map-legend-container input
{
  display: inline;
  padding-right: 5px;
}

.map-legend-label
{
  display: inline;
  font-size: 18px;
  font-family: Calibri, serif;
  font-weight: normal;
  padding-left: 5px;
}

.icon-legend
{
  filter: invert(100%);
}

.popup
{
  width: fit-content;
  height: auto;
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}

.popup:after, .popup:before
{
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.popup:after
{
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.popup:before
{
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-closer
{
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.ol-popup-closer:after
{
  content: "✖";
}