#struttura_principale{
    width: 100%;
	margin: 0 auto; 
	padding: 0; 
}

.titolo{
    display:flex;
    align-items: center;
    justify-content: center;
}

h1{
    /*text-align: center;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container{
    max-width: 80%;
    position: relative;
    margin: auto;
    top: 10px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.4);
}

.image-container img{
    width: 100%;
    height: 600px;
}

.hero{
    font-size: 80px;
    font-weight: bold;
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-family: 'Great Vibes', cursive;
    user-select: none;
    text-shadow: 2px 2px #000;
}

