#struttura_principale{
    width: 100%;
	margin: 0 auto; 
	padding: 0; 
}

h2{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: normal;
    text-align: center;

    margin: 40px 70px;
    border: 2px solid #005997;
    width: 92%;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*hr{
    border: 3px solid #005997;
    margin: 80px;
}*/

.box-1{
    box-sizing: border-box;
    background: #E7E7E7;
    border: 3px solid #005997;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 55px;
    margin: 35px;
    width: 550px;
    height: auto;
} 

.hbox-1{
    box-sizing: border-box;
    max-width: 800px;
    margin: auto;
    height: 55px;
    padding: 20px 20px;

    background: #005997;
    border-bottom: 5px solid #FFDE00;
    border-radius: 50px 50px 0px 0px;
}

h4 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin: auto;
    margin-left: 30px;
    color: #FFFFFF;
}

p,ul,li{
   font-family: 'Nunito';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 48px;
   margin: 0px 30px;
   color: #000000;

}

 button{
    background: #005997;
    border: 3px solid #005997;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 55px;
    margin: 15px;
    width: 120px;

    font-family: 'Nunito';
    font-size: 15px;
    font-style: normal;
    color: #FFFFFF;
}

/* Divisione più esterna per righe, per avere due colonne accanto*/
.in-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin:10px 40px;
}

/*Divisione interna per colonne*/
.columns{
    flex-direction: column;
}