#struttura_principale{
    width: 100%;
	margin: 0 auto; 
	padding: 0; 
}

.hc0, .hc, .hc2, .hc3, .hc4{
    position: relative;
    width: 100%;
    right: 0;
    text-align: left;
    top: 40px;
}
.hc0 p, .hc p, .hc2 p, .hc3 p, .hc4 p{
    font-size: 50px;
    color: black;
    font-family: 'sans-serif';
    text-decoration: underline;
    text-decoration-color:#cccccc;
    margin-left: 80px;
}

#par0, #par1, #par2, #par3, #par4 {
    position: relative;
    width: 80%;
    right: 0;
    text-align: left;
    top: 40px;
    margin-left: 80px;
}








