#struttura_principale{
    width: 100%;
	margin: 0 auto; 
	padding: 0; 
}

.hc0, .hc, .hc2, .hc3, .hc4{
    position: relative;
    width: 100%;
    font-family: 'Nunito';
    right: 0;
    text-align: left;
    top: 40px;
}
.hc0 p, .hc p, .hc2 p, .hc3 p, .hc4 p{
    font-size: 50px;
    color: black;
    font-family: 'Nunito';
    text-decoration: underline;
    text-decoration-color:#cccccc;
    margin-left: 80px;
}

#par0, #par1, #par2, #par3, #par4 {
    position: relative;
    width: 80%;
    right: 0;
    text-align: left;
    top: 40px;
    margin-left: 80px;
    font-family: 'Nunito'
}

.card-hotel-grid-3{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 80px;
    width: 100%;
    place-items: center;
    margin-top: 15px;
    align-items: start;
}

.box-1{
    box-sizing: content-box;
    background: #E7E7E7;
    border: 3px solid #005997;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    margin: 35px;
    width: 400px;
    height: auto;
} 

.box-1 p{
    margin-left: 10px;
    font-family: 'Nunito';
}

.hbox-1{
    box-sizing: border-box;
    max-width: 750px;
    margin: auto;
    padding: 0px 0px;
    background: #005997;
    border-bottom: 5px solid #FFDE00;
    border-radius: 50px 50px 0px 0px;
}

h4 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin: auto;
    margin-left: 30px;
    color: #FFFFFF;
}





